{% extends "basic/layout.html" %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    {% for servizio in servizi %}
    <div class="col-12 col-sm-10 col-md-6 col-lg-4 mb-4">
      <div class="card h-100 shadow-sm text-center">
        <img src="{{ servizio.immagine }}" class="card-img-top img-fluid" alt="{{ servizio.Servizio }}">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">{{ servizio.Servizio }}</h5>
          <p class="card-text fs-5">💶 Prezzo: {{ servizio.Prezzo }} €</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
