{% extends "basic/layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Recupero password</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Inserisci la tua email</label>
            <input type="email" class="form-control" id="email" name="email" required placeholder="nome@email.com">
        </div>
        <button type="submit" class="btn btn-primary">Invia istruzioni</button>
    </form>
</div>
{% endblock %}
