{% extends "basic/layout.html" %}

{% block content %}
<form id="reimpostaPasswordToken" class="mx-auto w-25 p-3" method="POST" action="/reimposta_password/{{ token }}">
  <div class="mb-3">
    <label for="password" class="form-label">Nuova Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Reimposta Password</button>
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message[1] }}">{{ message[0] }}</div>
    {% endfor %}
{% endif %}
{% endblock %}