{% extends "basic/layout.html" %}

{% block content %}
<form id="reimpostaPassword" class="mx-auto w-25 p-3" method="POST" action="/reimposta_password">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">Inserisci l'email associata al tuo account.</div>
  </div>
  <button type="submit" class="btn btn-primary">Invia email di reimpostazione</button>
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message[1] }}">{{ message[0] }}</div>
    {% endfor %}
{% endif %}
{% endblock %}