<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px; height: 100vh;">
    <a href="{{ url_for('admin.admin') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <i class="bi bi-speedometer2 me-2"></i><span class="fs-4">Dashboard</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li><a href="{{ url_for('admin.crea_slot') }}" class="nav-link {% if request.endpoint == 'admin.crea_slot' %}active{% endif %}"><i class="bi bi-calendar-plus me-2"></i>Slot</a></li>
      <li><a href="{{ url_for('admin.gestisci_prenotazioni') }}" class="nav-link {% if request.endpoint == 'admin.gestisci_prenotazioni' %}active{% endif %}"><i class="bi bi-calendar-check me-2"></i>Prenotazioni</a></li>
      <li><a href="{{ url_for('admin.gestisci_utenti') }}" class="nav-link {% if request.endpoint == 'admin.gestisci_utenti' %}active{% endif %}"><i class="bi bi-people me-2"></i>Utenti</a></li>
      <li><a href="{{ url_for('admin.gestisci_servizi') }}" class="nav-link {% if request.endpoint == 'admin.gestisci_servizi' %}active{% endif %}"><i class="bi bi-tools me-2"></i>Servizi</a></li>
      <li><a href="{{ url_for('admin.mostra_orari_apertura') }}" class="nav-link {% if request.endpoint == 'admin.mostra_orari_apertura' %}active{% endif %}"><i class="bi bi-clock-history me-2"></i>Orari Apertura</a></li>
    </ul>
  </div>
  