{% extends "basic/layout.html" %}
{% block content %}
<div class="bg-dark text-light p-5 position-relative overflow-hidden">
    <div class="container">
        
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center text-md-start">
                <h1 class="display-4 fw-bold">Passione e Professionalità</h1>
                <h3 class="fw-light mb-4">Ciclomeccanica per ogni strada!</h3>
                <p class="lead mb-4">
                    Siamo esperti nella cura e manutenzione della tua bicicletta. Da semplici riparazioni a servizi di biomeccanica avanzata, il nostro team è pronto a rendere ogni tuo viaggio sicuro e confortevole.
                </p>
                <div class="d-flex justify-content-center justify-content-md-start gap-4">
                    <a href="/registrati" class="btn btn-primary btn-lg">Registrati</a>
                    <a href="/log_in" class="btn btn-outline-light btn-lg">Accedi</a>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="{{ url_for('static', filename='/img/il_1140xN.6054832223_18ie.jpg') }}" class="img-fluid" alt="Ciclomeccanico al lavoro">
            </div>
        </div>
    </div>

  
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<div class="container py-5">
    <h2 class="text-center mb-4">I nostri servizi</h2>
    <div class="row text-center">
        <div class="col-lg-4 mb-4">
            <a href="/manutenzione" class="text-decoration-none">
                <i class="bi bi-tools display-1 text-primary"></i>
            </a>
            <h3>Manutenzione Biciclette</h3>
            <p class="lead">Servizi di riparazione per ogni tipo di bicicletta. Dalla regolazione dei freni alla sostituzione del cambio.</p>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="/biomeccanica" class="text-decoration-none">
                <i class="bi bi-heart display-1 text-success"></i>
            </a>
            <h3>Biomeccanica</h3>
            <p class="lead">Analisi e ottimizzazione della postura in sella per una maggiore efficienza e comfort durante la pedalata.</p>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="/assistenza" class="text-decoration-none">
                <i class="bi bi-person-check display-1 text-warning"></i>
            </a>
            <h3>Assistenza Personalizzata</h3>
            <p class="lead">Un servizio su misura per le tue esigenze: consigli, diagnosi e riparazioni personalizzate per la tua bicicletta.</p>
        </div>
    </div>
</div>
{% endblock %}
